.error .dialog-icon {
    -fx-background-color: rgba(239, 68, 68, 0.2);
}

.error .icon-symbol {
    -fx-text-fill: #F87171;
}

.error {
    /* shadow-[0_0_60px_rgba(239,68,68,0.3)] */
    -fx-effect: dropshadow(gaussian, rgba(239, 68, 68, 0.3), 30, 0.5, 0, 0);
}

.error .btn-confirm {
    -fx-background-color: #DC2626;
}

.error .btn-confirm:hover {
    -fx-background-color: #B91C1C;
}
