.warning .dialog-icon {
    -fx-background-color: rgba(245, 158, 11, 0.2);
}

.warning .icon-symbol {
    -fx-text-fill: #FBBF24;
}

.warning {
    /* shadow-[0_0_60px_rgba(245,158,11,0.3)] */
    -fx-effect: dropshadow(gaussian, rgba(245, 158, 11, 0.3), 30, 0.5, 0, 0);
}

.warning .btn-confirm {
    -fx-background-color: #D97706;
}

.warning .btn-confirm:hover {
    -fx-background-color: #B45309;
}