/*****************************
 *     MOVE ITEM CARD
 *****************************/

.move-item-card {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #1C2028 0%, #242933 100%);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 2 5;
    -fx-spacing: 4;
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 6, 0.3, 0, 0);
}

.move-item-card:hover {
    -fx-background-color: #353538;
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.05), 10, 0.2, 0, 0);
}

.move-item-card VBox {
    -fx-spacing: 2;
    -fx-padding: 4;
}

.from-to-move {
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-font-weight: 700;
}

.move-time {
    -fx-text-fill: #9ca3af;
    -fx-font-size: 12px;
    -fx-font-weight: 400;
}
